.CaregiverForm form {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 10px;
  }

.componentsWidth{
  margin: 0 auto;
  max-width: 320px;
}

.customButton {
  background-color: 	#0f877b;
  
}
.customButton:hover{
  background-color: 	#0f877b;
}
#planMeds{
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
#planMeds button{
  display: block;
  margin: auto;
}

#medItem{
  display: flex;
  flex-direction: row;
  
}
#medItem p{
  margin-left: 5px;
}

#medItem label{
  margin-left: 3px;
  font-weight: bold;
}
#medItem button{
  margin-right: -1px;
}
#medPlan{
  
}

#medications{
  display: flex;
  flex-direction: row;
}

#med{
border-bottom: solid grey;

}
#for-med-plans{
  margin-left:500px;
  display: inline-block;
  height: 100%;
  align-items: center;
}
 .notificationCard{
   width: 45%;
   border-style: solid;
   border-color: red;
   margin: 20px;
 }

 label{
   font-size: 20px;
 }
 .columns{
   display: inline-block;
   width: 100%;
 }

 #patients-table{
   float:left;
   width:45%;
 }

 #notifications{
   float:right;
 }