.navItem{
    list-style-type: none; 
}
.inlineElements{
    display: inline-flex;
}
.navBarStyle{
    background-color: #107bab;
}
.nav-link{
    color:#cecdcd;
}
.nav-link:hover{
    color:white;
    border-style: solid;
}
.navbar-brand{
    color:#cecdcd;
    font-size: 30px;
}
.homePageDiv{
    display:inline-block;
    height: 100%;
    width:100%;
    vertical-align: middle;
    text-align: center;
}
.homePageDiv #logo{
    height: 500px;
    display: block;
    margin: auto;  
}
.homePageDiv #title{
    color: #0f877b; 
    font-size: 50px;   
}

#userLogged{
    display: flex;
    flex-direction: row;
}

#userLogged p{
    font-size:21px;
    color:#cecdcd;
    margin-right: 25px;
}

#userLogged label{
    font-size:21px;
    color:#cecdcd;
    margin-right: 5px;
}

