.tableWidth {
  margin: 0 auto;
  max-width: 320px;
}

.header {
  background-color:#63c7bd;
  text-align: center;
  justify-content: center;
  width:320px;
}
.customButton {
  background-color: 	#0f877b;
}

#userInfo{
  margin-left: 40px;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
}

#divInfo{
  max-width: 400px;
}
